.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}
.main {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}
