<div class="main">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter Title"
          value=""
          [(ngModel)]="title"
          name="title"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Enter something to post!"
          [(ngModel)]="content"
          value=""
          name="content"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onPostAdded()">
        Post
      </button>
    </form>
  </mat-card>
  <!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is title
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>This is content</mat-panel-description>
  </mat-expansion-panel>
</mat-accordion> -->
  <div *ngFor="let post of posts">
    <mat-expansion-panel class="expansionClass">
      <mat-expansion-panel-header>
        <h3>{{ post.title }}</h3>
      </mat-expansion-panel-header>

      <p>{{ post.content }}</p>

      <mat-action-row>
        <button mat-raised-button color="accent" class="btn">Edit Post</button>
        <button mat-raised-button color="primary" class="btn">
          Delete Post
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>
